.main-logo,
.main-nav,
.main-content {
  display: -webkit-flex;
}

body {
  -webkit-perspective: 800px;

}


.main-logo {
  /*margin: 0 auto;*/
  /*-webkit-flex-direction: row;*/
  /*-webkit-justify-content: space-between;*/
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}


.main-nav {
  -webkit-flex-wrap: wrap;
  /*-webkit-flex-direction: row;*/
  /*-webkit-justify-content: space-between;*/
  /*-webkit-flex-direction: row-reverse; -- revereses nav li's */
  /*-webkit-justify-content: flex-end; --puts nav at end*/
  /*-webkit-justify-content: center; -- centers ur nav*/
}

.main-nav li {
  -webkit-flex-grow: 1;
  text-align: center;

}

.main-nav li:last-child {
  margin-left: auto;
}

.main-content {
  -webkit-flex-direction: column;
  position: relative;
}

.col {
  -webkit-flex: 1;
  /*-webkit-flex-direction: column;*/
}


.main-logo {
  transition: -webkit-transform 1s ease-in;

  /*pass 3d down to children*/
  /*-webkit-transform-style: preserve-3d;*/
}

/*rotate main logo 3D on x axis*/
.main-logo:hover {
  -webkit-transform: rotateX(360deg) rotateY(180deg);
  /*-webkit-transform: rotate3d(1,1,0,10deg)  translateZ(50px);*/
  /*-webkit-transform: translate3d(100px, 50px, 150px);*/
}



/*set standard for all power ranger divs*/
.flip-main-div {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;

}

.flip-main-div:hover {
  -webkit-transform: rotateY(180deg);
}


.flip-main-div div {
  position: absolute;
   -webkit-backface-visibility: hidden;
}


.alexGit,.coletteGit {
  z-index: 100;
}

/*end testing for flip-main-div*/





/*-------test----------------*/
.fliptest {
  /*any transition on fliptest div we want to ease in 1s*/
  transition: -webkit-transform 1s ease-in;

  /*now we want to pass donw transforms to its children elements:;*/
  -webkit-transform-style: preserve-3d;
}

.fliptest:hover {
  /*when hover over we want it to rotate on Y axis in 3d way.*/
  -webkit-transform: rotateY(180deg);
}

.fliptest div {
  /*give child divs of fliptest absolute values*/
  position: absolute;

  /*make its backside hidden when it flips*/
  -webkit-backface-visibility: hidden;
}

.sidea {
  /*make sidea above other div*/
  z-index: 100;
}
.sideb {
  /*this shows the backside to flip when the div flips*/
  -webkit-transform: rotateY(-180deg);

}
/*end  test*/







/*the Ranger divs:   have to add a col-c d e f for each ranger.. so their backsides wont show*/
.col-a {
  /*z-index: 100;*/
  transition: background 5s ease .1s, transform 3s ease-in-out .2s;
  -webkit-transform: rotateY(-180deg);

  /*this will hide the backside when u rotate it.*/
}





/*need to add each one in their own css..*/
.col-x {
  transition: background 5s ease .1s, transform 3s ease-in-out .2s;
  -webkit-transform: rotateY(-180deg);
}

.col-x:hover {
  background: red;

  /*tilt the div alex is in*/
    /*rotate on 45degree angle*/
      /*-webkit-transform: rotate(45deg);*/

    /*rotate it 2 full turns*/
      /*-webkit-transform: rotate(2turn);*/

    /*set origin of spin point to bottom right corner using percents*/
      /*-webkit-transform-origin: 100% 100%;*/
    /*set origin of spin point to middle def value*/
      -webkit-transform-origin: 50% 50%;

    /*set origin of spin point to top */
      /*-webkit-transform-origin: top;*/

    /*Stretch on x axis*/
      /*-webkit-transform: scaleX(1.5);*/

    -webkit-transform: rotateY(540deg);
}



/*you have to add this part in each user's own css file or it wont transition right..*/
.col-x .alex{
  /*transition-duration: 1s;*/
  /*transition-delay: .3s;*/
  /*transition-timing-function: cubic-bezier(.5, -1.5, .3, 1.3);*/
  transition: margin 1s cubic-bezier(.5, -1.5, .3, 1.3) .3s, background 3s ease .2s;
  border-radius: 100%;
}

/*when hover over alex div, affect the alex image:*/
.col-x:hover .alex{
  /*slide right*/
  margin-left: 75%;

  /*change background of alex img*/
  background: #FFFFFF;

  /*Rotate 20 Deg the img so that it looks like a head nod lol*/
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg) scale(1.5);  /*this will stretch x and y axis if u dont spec scaleX or
                                              scaleY*/

  /*Frame*/
  outline: 5px solid gray;
  outline-offset: 90px;
};






























/*the red ranger alex head:*/
/*.col-x img {*/
  /*transition-duration: 1s;*/
  /*transition-delay: .3s;*/
  /*transition-timing-function: cubic-bezier(.5, -1.5, .3, 1.3);*/
  /*transition: margin 1s cubic-bezier(.5, -1.5, .3, 1.3) .3s, background 3s ease .2s;*/
  /*border-radius: 100%;*/
/*}*/















/*the alex paragraph*/
.alexPar:hover {

  /*slant the paragraph when hover on it.*/
  -webkit-transform: skewX(45deg);
}





/*the alex name:*/
.alexHead:hover {

  /*Move alex name to the left and 20px down */
  /*-webkit-transform: translate(-170px, 20px);*/

  /*Move alex name to the left 170 px*/
  -webkit-transform: translate(-170px);
}






