* {
  box-sizing: border-box;
}
body {
  margin: 40px 0;
  background: #203542;
  font-size: 1.3em;
  font-family: sans-serif;
}

/*.main-header {
  position: relative;
}*/

/*.main-logo {
  margin: auto;
  text-align: center;
}

img {
  display: inline-block;
  text-align: center;
}*/

h1 {
  margin: 0;
}
.cohortx {
  /*display: inline-block;*/
  color: white;
  font-size: 6.5em;
  vertical-align: bottom;
  padding-top: 90px;
  /*text-align: center;*/
  /*position: absolute;*/
}

.main-nav {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border: 2px solid #1d2e3a;
  border-radius: 10px;
  background: #3e5b70;
  list-style-type: none;
}
li {
  margin: 10px;
  border-radius: 10px;
  background: #70968C;
  color: #FFF;
}

.main-nav a {
  display: block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

.main-content {
  margin: 25px auto;
  padding: 20px;
  width: 80%;
  border: 2px solid #1d2e3a;
  border-radius: 10px;
  background: #3e5b70;
}

.col {
  margin: 10px;
  padding: 25px;
  border: 2px solid rgba(45,74,95,.9);
  border-radius: inherit;
  background: rgba(255,255,255,.8);
}

img {
  height: 300px;
}